<div class="reset-password-container">
    <div class="reset-password-card">
        <div class="reset-password-header"> 
            <h2>]{{ 'PROFILE.RESET' | translate }} {{'AUTH.PASSWORD' | translate }}</h2>
        </div>

        @if (errorMessage){
        <div class="error-message" role="alert">
            {{ 'MESSAGES.UPDATE_FAILED' | translate}}
        </div>
        }

        @if (showSuccess){
        <div role="alert">
            {{'PROFILE.PROFILE_UPDATED' | translate}}, <a [routerLink]="['/auth/login']"> {{ 'AUTH.LOGIN' | translate}} </a>
        </div>
        }

        <form [formGroup]="resetPasswordForm" autocomplete="off" novalidate (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="password">{{'AUTH.PASSWORD' | translate }} *</label>
                <div class="col-md-5">
                    <input 
                        type="password" 
                        id="password" 
                        formControlName="password" 
                        class="form-control"
                        [class.is-invalid]="isFieldRequired('password') || isFieldUnderMinLength('password') || isFieldOverMaxLength('password') || isFieldPatternMismatch('password')"
                        placeholder="{{ 'USERS.PASSWORD_PLACEHOLDER' | translate }}"
                    />
                </div>
                @if(isFieldRequired('password')){
                    <div class="invalid-feedback">
                        {{ 'AUTH.PASSWORD_REQUIRED' | translate }}
                    </div>
                } @else if(isFieldUnderMinLength('password')){
                    <div class="invalid-feedback">
                        {{ 'USERS.PASSWORD_MIN_LENGTH' | translate }}
                    </div>
                } @else if(isFieldOverMaxLength('password')){
                    <div class="invalid-feedback">
                        {{ 'USERS.PASSWORD_MAX_LENGTH' | translate }}
                    </div>
                } @else if(isFieldPatternMismatch('password')){
                    <div class="invalid-feedback">
                        {{ 'USERS.PASSWORD_PATTERN' | translate }}
                    </div>
                } 
                <small class="form-text text-muted">
                {{ 'MESSAGES.PASSWORD_INSTRUCTIONS' | translate }}
                </small> 
            </div>
            <div class="form-group">>
                <label for="confirmPassword">{{'AUTH.CONFIRM_PASSWORD' | translate }} *</label>
                <div class="col-md-5">
                    <input 
                        type="password" 
                        id="confirmPassword" 
                        formControlName="confirmPassword" 
                        class="form-control"
                        [class.is-invalid]="isFieldRequired('confirmPassword') || hasPasswordMismatch()"
                        placeholder="{{ 'uSERS.CONFIRM_PASSWORD_PLACEHOLDER' | translate }}" 
                    />
                </div>
                @if(isFieldRequired('confirmPassword')){
                    <div class="invalid-feedback">
                        {{ 'AUTH.CONFIRM_PASSWORD_REQUIRED' | translate}}
                    </div>
                }@else if (hasPasswordMismatch()){
                    <div class="invalid-feedback">
                        {{'AUTH.PASSWORD_MISMATCH' | translate }}
                    </div>
                }
            </div>
            <br>   
            <button type="submit" class="btn btn-info" [disabled]="!resetPasswordForm.valid">
                {{'COMMON.SUBMIT' | translate}}
            </button>
        </form>
    </div>
</div>