<div class="forgot-password-container">
    <div class="forgot-password-card">
        <div class="forgot-password-header">
            <h2>Forgot Password</h2>
            <p>Please enter your email address, and we'll send you instructions to reset your password.</p>
        </div>

        <div *ngIf="errorMessage" class="error-message">
            {{errorMessage}}
        </div>

         <div *ngIf="showSuccess" class="success-message">
            Instructions to reset your password have been sent to your email.
        </div>

        <form [formGroup]="forgotPasswordForm" autocomplete="off" class="forgot-password-form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">Email *</label>
                <input 
                    type="text" 
                    id="email" 
                    formControlName="email" 
                    class="form-control" 
                />
                <div class="error-message" *ngIf="isFieldInvalid('email')">
                    {{ getFieldError('email') }}
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!forgotPasswordForm.valid">Submit</button>
        </form>
    </div>
</div>