<div class="forgot-password-container">
    <div class="forgot-password-card">
        <div class="forgot-password-header">
            <h2>{{ 'AUTH.FORGOT_PASSWORD' | translate }}</h2>
            <p> {{ 'USERS.ENTER_EMAIL' | translate }}</p>
        </div>

        @if(errorMessage){
            <div class="error-message">
                {{'MESSAGES.ERROR_OCCURRED' | translate }}
            </div>
        }
        @if(showSuccess){
            <div class="success-message">
                {{ 'MESSAGES.INSTRUCTIONS_RESET_PASSWORD' | translate }}
            </div>
        }

        <form [formGroup]="forgotPasswordForm" autocomplete="off" class="forgot-password-form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">{{ 'AUTH.EMAIL' | translate}} *</label>
                <input 
                    type="text" 
                    id="email" 
                    formControlName="email" 
                    class="form-control"
                    placeholder="{{'USERS.EMAIL_PLACEHOLDER' | translate}}" 
                />
                @if(isFieldEmail('email')){
                    <div class="error-message">
                        {{ 'USERS.EMAIL_INVALID' | translate }}
                    </div>
                }
                @if(isFieldRequired('email')){
                    <div class="error-message">
                        {{ 'USERS.EMAIL_REQUIRED' | translate }}
                    </div>
                }
            </div>
            <br>
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!forgotPasswordForm.valid">{{'COMMON.SUBMIT' | translate }}</button>
        </form>
        <div class="forgot-password-footer">
            <p>
                {{ 'AUTH.GO_BACK_LOGIN' | translate}}:
                <a routerLink="/auth/login" class="link"> {{ 'AUTH.LOGIN' | translate}}</a>
            </p>
        </div>
    </div>
</div>